*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --orange: #ffa505;
    --light-orange:#ffc905;
    --primary-color: #264653;
    --secondary-color: #2A9D8F;
    --third-color:#7b3cd5;
    --white-text: #e8e8e8;
    --light-gray-color:  #707070;
    --white-color: #fff;
    --crimson: #D62839;
    --gap: 3rem;
    --footer-dark-color:#1d1d1d; 
    --footer-color: #04011f;
    --dark-blue: #03001dfd;
    --dark-bg: #121212;
    --dark-secondary-bg: #444444;
    --transparent-dark: #121212cb;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Press Start 2P', cursive;
*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:var(--primary-color);
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

p {
    margin-bottom: 3rem;
    font-weight: bold;
}

html::-webkit-scrollbar{
    width: 1rem;
    background-color: var(--footer-color)!important;
    
}

html::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
    border-radius: 100rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--dark-bg);
}

.text p {
    color: var(--white-color);
}

.main-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.main-content-faces {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.main-content-intro {
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.main-content-intro2 {
    margin: 15rem 0;
}

.main-content-intro p {
    margin-top: 1rem;
}

.text {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: var(--gap);
}

.intro-text-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

.intro-text-content header {
    align-items: center;
}

.intro-text-content a{
    color: var(--white-text);
}

.main-bg {
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.dark-bg {
    background: var(--dark-bg);
    color: var(--third-color);
    min-height: 100vh;
}

.menu-bg {
    backdrop-filter: blur(10px);
    background-color: var(--transparent-dark);
    color: var(--white-color);
}

.footer-bg {
    background-size: cover;
    height: 5rem;
    background-color: var(--footer-dark-color);
    color: var(--third-color);
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.menu {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    border-bottom: 0.1rem solid var(--secondary-color);
}

.menu-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-content img {
    margin-left: 15rem;
}

.menu-spacing {
    height: 64px;
}

.menu h1 {
    font-size: 2.3rem;
    color:var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: 18rem 16.5rem 19rem 17rem ;
    position: relative;
}

.menu ul li {
    justify-content: space-between;
}

.menu ul li a {
    min-height: 3rem ;
    align-content: center;
    list-style: none;
    display: inline-block;
    padding: 1rem 5rem 1rem 5rem;
    font-size: 2rem;
    color: var(--white-color);
    font-weight: bold;
    border-radius: 0.5rem;
    transition: all 500ms ease-in-out;
}

.menu ul li a img{
    max-width: 2.4rem;
    max-height: 2.4rem;
}

.menu ul li a:hover {
    content: '';
    background-color: var(--secondary-color);
    color: var(--footer-color);
    max-height: 7.5rem;
}

.section {
    min-height: 100vh;
    align-content: center;
}

.controle img {
    height: 63px;
    width: 6rem;
}

.centralizada {
    text-align: center;
}

.centralizada-nav {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0rem var(--gap);
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--footer-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--third-color);
    border: 0.1rem solid var(--third-color);
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    align-content: center;
    counter-reset: grid-counter;
}

.gridlabel {
    display: grid;
    grid-template-columns: repeat(3,30px);
    justify-content: center;
}

.texto-foto{
    display: flex;
    flex-wrap: nowrap;
    gap: 10rem;
}

.footer {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 0.1rem solid var(--secondary-color);
}

.contact-form {
    grid-column: span 2;
}

.contact-form, .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
}

.form-group {
    flex: 1 1 320px;
    height: 7rem;
} 

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
}

.form-group button {
    width: 100%;
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.form-group button:hover {
    background:var(--white-color);
    color: var(--primary-color);
}

.button {
    display: none;
    width: 100%;
    align-items: center;
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.button:hover {
    background:var(--white-color);
    color: var(--primary-color);
}

.titulos {
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.titulos p{
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 2rem;
}

.slider {
    display: block;
    width: auto;
    margin-top: 20px;
    position: relative;
    height: 50vh;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align:top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    bottom: -5rem;
    cursor: pointer;
    display: block;
    height: 1.5rem;
    position: absolute;
    width: 1.5rem;
    border-radius: 50%;
    z-index: 2;
}

.slider label:hover {
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.slider li img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 3;
    transition:all 500ms ease-in-out;
}

.botao-invisivel {
    display: none;
}

.close-menu{
    display: none;
}

#msg2 button{
    border: 2px outset var(--white-color);
    padding: 0.5rem;
    color: var(--white-text);
    font-size: 2rem;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
    backdrop-filter: blur(5px);
}

#msg2 button:hover{
    background-color: #1212129c;
    backdrop-filter: blur(2px);
    border-radius: 50px;
}

.box-main{
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    width: 1050px;
    grid-template-columns: 100px 200px;
    margin-left: -120px;
    padding: 0px;
}

.box{
    display: flex;
    height: 300px;
    font-size: 20px;
}
.box .front, .box .back{
    position: absolute;
    width: 350px;
    height: 250px;
    background-color: purple;
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgba(163,61,21,0.200), 
    0 -5px 30px rgba(115,55,212,0.200);
    transition: transform .4s ; 
}
.box .back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: perspective(800px) rotateX(180deg)
}
.box .back p{
    font-size: 15px;
    margin: 10px 20px;
    text-align: center;
}
.box .front img{
    width: 100%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    position: absolute;
}
.box:hover   .front{
    transform: perspective(800px) rotateX(180deg);
}
.box:hover .back{
    border-radius: 20px 20px 0 0;
    transform: perspective(800px) rotateX(0);

}


@media (max-device-width: 800px){
    html {
        min-width: 100%;
        max-width: 100%;
        background-color: black;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.05rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.7rem;
    }
    
    p{
        font-size: 1.5rem;
    }

    .slider label{
        bottom: -15rem;
    }

    .titulos{
        font-size: 2.05rem;
    }

    .intro{
        grid-template-columns: 1fr;
    }

    .intro-img{
        max-width: 90%;
    }

    .main-content-intro2{
        margin: 0;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        min-height: 100%;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content img{
        margin: 0;
    }

    .menu {
        display: none;
        border-bottom: 0;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 10;
        top: 1rem;
        right: 1rem;
        background: var(--footer-color);
        color: var(--third-color);
        border-radius: 5px;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .slider li img{
        width: 100%;
        height: 100%;
    }

    .intro-content {
        grid-template-columns: 1fr;
        max-width: 100vh;
    }

    .footer-bg{
        padding-top: 0.5rem;
    }

    .box-main{
        display: grid;
        flex-direction: row;
        justify-content: space-around;
        grid-template-columns: 0;
        width: max-content;
        margin-right: 10px;
        padding: 0px;
    }

    .box{
        display: flex;
        height: 300px;
        font-size: 10px;
    }
    
    .box .front, .box .back{
        width: 250px;
        height: 50px;
        
    }

    @media (min-width:500px){
    .main-content-faces{
            padding:0;
            padding-bottom: 50rem;
        }

        .slider label{
            bottom: -33rem;
        }
    }

    .slider img {
        width: 25rem;
        height: 15rem;
    }

    .slider {
        height: min-content;
    }
}
