*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #ffa505;
    --light-orange:#ffc905;
    --primary-color: #264653;
    --secondary-color: #2A9D8F;
    --white-text: #e8e8e8;
    --light-gray-color:  #707070;
    --white-color: #fff;
    --red-color: rgb(220, 20, 60);
    --gap: 3rem;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Fjalla One', sans-serif;
*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:var(--primary-color);
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
    }

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

p {
    margin-bottom: 3rem;
    font-weight: bold;
}

.main-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.text {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.main-bg {
    background-image: url(../img/main-bg.svg);
    background-size: 100%;
    background-position: center center;
    color:var(--white-color);
}

.white-bg {
    background:var(--white-color);
    color: var(--primary-color);
}

.footer-bg {
    background-size: cover;
    height: 5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.menu {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--secondary-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-spacing {
    height: 64px;
}

.menu h1 {
    font-size: 2.3rem;
    color:var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    list-style: none;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    color: var(--primary-color);
    position: relative;
    font-weight: bold;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: #ffc905;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.section {
    min-height: 100vh;
    align-content: center;
}

.working-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    min-height: 100vh;
    justify-content: center;
}

.grow img {
    transition: all 400ms ease-in-out;
}

.grow img:hover {
    transform: scale(1.1);
}

.controle img {
    height: 63px;
    width: 6rem;
}

.centralizada {
    text-align: center;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    border: 0.1rem solid var(--primary-color)
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    align-items: center;
    padding-top:1.2rem;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 0.1rem solid var(--orange);
}
